<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742288804-b93dderu2s6al71f8b395br1vo4t7fm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742288804-b93dderu2s6al71f8b395br1vo4t7fm8</string>
	<key>API_KEY</key>
	<string>AIzaSyDF0iiATosFvLB1hRLXIRF-DouBAt83-e8</string>
	<key>GCM_SENDER_ID</key>
	<string>742288804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.se.hewa</string>
	<key>PROJECT_ID</key>
	<string>hew-a-38090</string>
	<key>STORAGE_BUCKET</key>
	<string>hew-a-38090.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742288804:ios:e8562ae62e46ac9daee531</string>
</dict>
</plist>